{% extends 'base.html.twig' %}

{% block body %}

    {% block stylesheets %}{% endblock %}


    <!--<h4 style="text-align: center; margin-top: 10%; margin-bottom: 10%; font-family: 'Poiret One', cursive; font-size: 50px">
        {{ 'contact.title' | trans ({}, 'contact') }}</h4>-->



    <h5 style="text-align: center; margin-top: 10%; margin-bottom: 10%; font-family: 'Poiret One', cursive; font-size: 30px">{{ 'contact.msg' | trans ({}, 'contact') }}</h5>




{% endblock %}

